@layer components {
  .main-button {
    @apply
    relative
    flex
    items-center
    justify-center
    text-blue
    rounded-4xl
    cursor-pointer
    h-full
    font-bold
    leading-[100%]
    ;
    padding: 0.5rem 1.5rem;
    background: transparent;
    transition: background 0.5s ease-in-out, color 0.3s ease-in-out;
  }

  .main-button::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px; /* širina borderja */
    border-radius: 32px;
    background: linear-gradient(116.57deg, #002E6E 0%, #00AEEF 83.33%);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  .main-button:hover {
    background: linear-gradient(116.57deg, #002E6E 0%, #00AEEF 83.33%);
    color: white;
  }





}
